DobbleClient/Connected Services/DobbleServiceReference1/DobbleServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DobbleServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IDobbleServer_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" />
      <xsd:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" />
      <xsd:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDobbleServer_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_GetCards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCards" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_GetCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_ApplySettings_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplySettings" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_ApplySettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplySettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_PickACard_InputMessage">
    <wsdl:part name="parameters" element="tns:PickACard" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_PickACard_OutputMessage">
    <wsdl:part name="parameters" element="tns:PickACardResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_DeclareReadiness_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclareReadiness" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_DeclareReadiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclareReadinessResponse" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_LockClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LockClient" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_UnlockClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UnlockClient" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_SendLog_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendLog" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_SendPlayerData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendPlayerData" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_SendGameInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendGameInfo" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_SendRoundData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendRoundData" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_SendLeaderBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendLeaderBoard" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_EndGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EndGame" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_Ping_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDobbleServer_Ping_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDobbleServer">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbleServer/Connect" message="tns:IDobbleServer_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/ConnectResponse" message="tns:IDobbleServer_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbleServer/Disconnect" message="tns:IDobbleServer_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/DisconnectResponse" message="tns:IDobbleServer_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCards">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbleServer/GetCards" message="tns:IDobbleServer_GetCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/GetCardsResponse" message="tns:IDobbleServer_GetCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ApplySettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbleServer/ApplySettings" message="tns:IDobbleServer_ApplySettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/ApplySettingsResponse" message="tns:IDobbleServer_ApplySettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PickACard">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbleServer/PickACard" message="tns:IDobbleServer_PickACard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/PickACardResponse" message="tns:IDobbleServer_PickACard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeclareReadiness">
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbleServer/DeclareReadiness" message="tns:IDobbleServer_DeclareReadiness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/DeclareReadinessResponse" message="tns:IDobbleServer_DeclareReadiness_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LockClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/LockClient" message="tns:IDobbleServer_LockClient_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnlockClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/UnlockClient" message="tns:IDobbleServer_UnlockClient_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendLog">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/SendLog" message="tns:IDobbleServer_SendLog_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendPlayerData">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/SendPlayerData" message="tns:IDobbleServer_SendPlayerData_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendGameInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/SendGameInfo" message="tns:IDobbleServer_SendGameInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendRoundData">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/SendRoundData" message="tns:IDobbleServer_SendRoundData_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendLeaderBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/SendLeaderBoard" message="tns:IDobbleServer_SendLeaderBoard_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="EndGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/EndGame" message="tns:IDobbleServer_EndGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ping">
      <wsdl:output wsaw:Action="http://tempuri.org/IDobbleServer/Ping" message="tns:IDobbleServer_Ping_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDobbleServer/PingResponse" message="tns:IDobbleServer_Ping_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IDobbleServer" type="tns:IDobbleServer">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IDobbleServer_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCards">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/GetCards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplySettings">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/ApplySettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PickACard">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/PickACard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclareReadiness">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/DeclareReadiness" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockClient">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/LockClient" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockClient">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/UnlockClient" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLog">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/SendLog" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPlayerData">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/SendPlayerData" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGameInfo">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/SendGameInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRoundData">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/SendRoundData" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLeaderBoard">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/SendLeaderBoard" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGame">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/EndGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IDobbleServer/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DobbleServer">
    <wsdl:port name="WSDualHttpBinding_IDobbleServer" binding="tns:WSDualHttpBinding_IDobbleServer">
      <soap12:address location="http://localhost:8000/DobbleServer/DobbleGameServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8000/DobbleServer/DobbleGameServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>