DobbleClient/Connected Services/DobbleServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" />
  <xs:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" />
  <xs:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" minOccurs="0" name="GetCardsResult" nillable="true" type="q1:ArrayOfCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplySettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" minOccurs="0" name="settings" nillable="true" type="q2:ServerSettingsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplySettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PickACard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element minOccurs="0" name="symbolNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickACardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclareReadiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" type="xs:int" />
        <xs:element minOccurs="0" name="readiness" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclareReadinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LockClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPlayerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" minOccurs="0" name="player" nillable="true" type="q3:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" minOccurs="0" name="info" nillable="true" type="q4:GameInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRoundData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" minOccurs="0" name="roundDto" nillable="true" type="q5:CardRoundDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLeaderBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DobbleGameServer" minOccurs="0" name="leaderboard" nillable="true" type="q6:ArrayOfLeaderboardRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>