DobbleClient/Connected Services/DobbleServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" />
  <xs:complexType name="ServerSettingsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxRoundNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SymbolsPerCard" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerSettingsDto" nillable="true" type="tns:ServerSettingsDto" />
  <xs:complexType name="PlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReady" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDto" nillable="true" type="tns:PlayerDto" />
  <xs:complexType name="GameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Config" nillable="true" type="tns:ServerConfigDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInfo" nillable="true" type="tns:GameInfo" />
  <xs:complexType name="ServerConfigDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxRoundNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ReadinessEveryRound" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoundIntervalMS" type="xs:int" />
      <xs:element minOccurs="0" name="RoundTimeMS" type="xs:int" />
      <xs:element minOccurs="0" name="SymbolsPerCard" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerConfigDto" nillable="true" type="tns:ServerConfigDto" />
  <xs:complexType name="CardRoundDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" minOccurs="0" name="CurrentCard" nillable="true" type="q1:Card" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" minOccurs="0" name="PlayerCard" nillable="true" type="q2:Card" />
      <xs:element minOccurs="0" name="RoundNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardRoundDto" nillable="true" type="tns:CardRoundDto" />
  <xs:complexType name="ArrayOfPlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDto" nillable="true" type="tns:PlayerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDto" nillable="true" type="tns:ArrayOfPlayerDto" />
</xs:schema>