TestClient/Connected Services/DobbleServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DobbleGameServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DobbleGameServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLeaderboardRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaderboardRow" nillable="true" type="tns:LeaderboardRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaderboardRow" nillable="true" type="tns:ArrayOfLeaderboardRow" />
  <xs:complexType name="LeaderboardRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaderboardRow" nillable="true" type="tns:LeaderboardRow" />
</xs:schema>