TestClient/Connected Services/DobbleServiceReference/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/DobbleServer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" />
  <xs:complexType name="PlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDto" nillable="true" type="tns:PlayerDto" />
  <xs:complexType name="CardRoundDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" minOccurs="0" name="CurrentCard" nillable="true" type="q1:Card" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DobbleGameServer.data" minOccurs="0" name="PlayerCard" nillable="true" type="q2:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardRoundDto" nillable="true" type="tns:CardRoundDto" />
</xs:schema>